@import './libs/normalize';
@import './libs/vars.scss';

body {
	padding: 100px 0 60px;
	overflow-x: hidden;
}

.App {
	&::before,
	&::after {
		content: '';
		position: fixed;
		width: 400px;
		height: 400px;
		background-color: $blueAccent;
		border-radius: 50%;
		top: -200px;
		left: -200px;
		opacity: 0.7;
		filter: blur(10rem);
		z-index: -2;
		animation: circleMoveFirst 30s infinite, circle 5s infinite;
	}
	&::after {
		top: auto;
		left: auto;
		bottom: -200px;
		right: -200px;
		overflow: hidden;
		animation: circleMoveLast 30s infinite, circle 5s infinite;
	}
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 10px;
}

@keyframes circle {
	0% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.25;
	}
}

@keyframes circleMoveFirst {
	0% {
		// bottom: -200px;
		// top: auto;
	}
	50% {
		// top: -200px;
		transform: translateY(200%);
		// bottom: auto;
	}
	100% {
		transform: translateY(0);
		// top: auto;
	}
}
@keyframes circleMoveLast {
	0% {
		// bottom: -200px;
		// top: auto;
	}
	50% {
		// top: -200px;
		transform: translateY(-200%);
		// bottom: auto;
	}
	100% {
		transform: translateY(0);
		// top: auto;
	}
}
